* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  width: 1000px;
  text-align: center;
}
.footer, .push {
  height: 4em;
}
.footer {
  margin: 0 auto -4em;
  width: 1000px;
  text-align: center;
}
p {
  padding: 0 0 1em;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0 0 0.4em;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
.grid path {
  stroke-width: 0;
}
.tooltip {
  background:#ccc;
  padding:5px;
}
.sitemap li {
  display: inline;
}
.sitemap li:not(:last-child):after{
  content:"|";
  margin:0 3px 0 7px;
}
